.container {
  height: 100vh;
  margin-top: 2rem;
}

.theme{
    max-width: 400px;
    margin: 0 auto;
    text-align: right;
    font-size: 1.8rem;
}

.theme span{
    margin-left: 0.8rem;
}

a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}

/* Reset styles for forms */
form {
  margin: 30px auto;
  padding: 20px;
  max-width: 400px;
  height: 80%;
  border: 1px solid #ccc;
  background-color: #9f9f9f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif; /* Add your desired font */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Style the form headings */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style form fields and labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 95%;
  height: 2rem;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  outline: none;
}

/* Style submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

/* Style form on hover */
form:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


button[type="submit"]:hover {
  background-color: #0056b3;
}

.password {
  width: 100%;
  height: 3.3rem;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  background-color: white;
}

input#password {
  width: 80%;
  border: none;
  
}
